Cell {
	width: auto;
	height: auto;
	padding: 1;
	margin: 1;
	content-align: center middle;
	text-style: bold;
	color: white;
}

Piece {
	padding: 0 1 0 1;
	margin: 0;
	/* background: red; */
	width: 4;
}

Piece.black {
	color: black;
	text-style: bold;
}

Piece.white {
	color: white;
	text-style: bold;
}

Cell.light {
	background: aquamarine;
}

Cell.dark {
	background: $accent;
}

Cell.selected Piece {
	color: salmon;
}

.board-row {
	height: 4;
}

#left-indicators {
	width: auto;
	padding: 1 1 0 1;
	margin-top: 1;
	height: 31;
	overflow-y: hidden;
}

#left-indicators Static {
	width: auto;
	padding: 0;
	margin-bottom: 3;
}


#bottom-indicators {
	width: 54;
	/* background: yellow; */
	padding: 1 1 0 2;
	margin: 0 0 0 1;
	height: auto;
	overflow-y: hidden;
}

#bottom-indicators Static {
	width: 7;
	height: auto;
	/* background: blue; */
	padding: 0;
	margin-right: 0;
}


#main {
	background: $primary-background;
	border: double black;
	width: auto;
	height: auto;
}

#board {
	width: 59;
	height: auto;
	content-align: center middle;
	padding: 0 1 0 1;
	margin-top: 0;
	padding-left: 0;
}