* {
	content-align: center middle;
	text-align: center;
	/* outline: solid red; */
}


Screen {
	background: #000000;
}

GameEPD {
	color: red;
	text-align: left;
}


#main {
	padding: 1;
	min-width: 55;
	min-height: 45;
}



BoardArea {
	layout: grid;
	grid-size: 2 2;
	grid-columns: 7% 93%;
	grid-rows: 90% 10%;
	width: 70%;
	height: 100%;
	min-width: 45;
	min-height: 45;
}


Board {
	column-span: 1;
	layout: grid;
	grid-size: 8 8;
	min-width: 40;
	min-height: 40;
}

Bottom {
	layout: grid;
	grid-size: 8 1;
	width: 100%;
	min-width: 40;
	height: 100%;
	min-height: 3;
}

Left {
	layout: grid;
	grid-size: 1 8;
	width: 100%;
	min-width: 3;
	height: 100%;
	min-height: 40;
}

.indicator {
	height: 100%;
	column-span: 1;
}

Bottom .indicator {
	content-align: center top;
}

Left .indicator {
	content-align: right middle;
}

Stats {
	height: 100%;
	width: 30%;
	border: double blue;
}

Stats Static {
	color: white;
}

Box {
	column-span: 1;
	content-align: center middle;
	min-height: 5;
	min-width: 5;
	padding: 0;
}


Box.dark {
	background: #152935;
}

Box.light {
	background: #C0E6FF;
}

Box.selected {
	tint: $accent-lighten-1 70%;
}

Box.valid {
	tint: $accent-lighten-3 30%;
}

Box.check {
	background: red;
}
